<div class="birds"></div>
<div class="container-fluid work">
  <div class="container">
    <div class="work-title text-center row">
      <span> work </span>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-12 my-3 work-card npm"></div>
      <div class="col-md-2 col-sm-12 my-3 work-card aframe"></div>
      <div class="col-md-2 col-sm-12 my-3 work-card"></div>
      <div class="col-md-2 col-sm-12 my-3 work-card"></div>
      <div class="col-md-2 col-sm-12 my-3 work-card"></div>
    </div>
  </div>
</div>
<!-- <div class="footer-menu show">
    <ul class="menu-items">
      <li class="menu-item menu-work" routerLink="/work">work</li>
      <li class="menu-item menu-prototypes">experience</li>
      <li class="menu-item menu-info">collobrate</li>
    </ul>
  </div> -->
