<div class="birds">
  <div class="home page show">
    <div class="titles flicker-1">
      <div class="page-title aos-animate slide-in-left">ajayksanthosh</div>
      <div class="page-subtitle aos-animate">Developer</div>
    </div>
  </div>
  <div class="footer-menu show">
    <ul class="menu-items">
      <li class="menu-item menu-work" routerLink="/about">work</li>
      <li class="menu-item menu-prototypes">experience</li>
      <li class="menu-item menu-info">collobrate</li>
      <!-- <li class="menu-item menu-reel">reel</li> -->
    </ul>
  </div>
</div>
